@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
.container {
	max-width: 500px;
	margin: auto;
	margin-top: 10px;
	font-family: 'Sono', sans-serif;
}
.card {
	padding: 14px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	margin-top: 10px;
}

.title {
	font-size: 18px;
	font-weight: bolder;
}
.caption {
	font-size: 14px;
	opacity: 0.5;
}
.actions {
	margin-top: 18px;
}

.btn {
	border: none;
	padding: 4px 16px;
	border-radius: 4px;
}
.btn:hover {
	opacity: 0.6;
}
.warning {
	background-color: yellowgreen;
	color: white;
	cursor: pointer;
}
.error {
	background-color: red;
	color: white;
	cursor: pointer;
}

.d-flex {
	display: flex;
	justify-content: space-between;
}
.modal {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.modal .body {
	position: absolute;
	background-color: #fff;
	top: 50%;
	left: 50%;
	max-width: 300px;
	width: 300px;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 4px;
}

.form input {
	background-color: transparent;
	border-width: 0px;
	width: 100%;
	padding-bottom: 4px;
	margin-top: 16px;
	outline: none;
	border-width: 0 0 1px;
	border-color: rgba(255, 255, 255, 0.4);
}
